body {
	background-color: #999;
}

#canvas {
	width: 1024px;
	background-color: #ccc;
}

@media (max-width: 1023px) {
	#canvas {
		width: 800px;
		background-color: blue;
	}
}

@media (max-width: 799px) {
	#canvas {
		width: 480px;
		background-color: red;
	}
}
