/*
 * DYE MATCH GAME
 * Version: 0.0.1
 * Developed by Matthew Lean
 * www.mattlean.com
 * 2014
 */

body {
	background-color: #fff;
}

#canvas {
	/*width: 1024px;*/
	/*border: 1px solid #000;*/
	background-color: #000;
}

/*@media (max-width: 1023px) {
	#canvas {
		width: 800px;
	}
}

@media (max-width: 799px) {
	#canvas {
		width: 480px;
	}
}*/