<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="60">
  <title>qPCR Crush Leaderboards</title>
  <link href="/static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <style>
  body {
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
    letter-spacing: 1px;
  }

  h1 {
    margin: 30px 0;
    float: left;
  }

  img {
    margin-bottom: 10px;
    width: 20%;
    height: 20%;
    float: right;
  }

  #description {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
  }
</style>
</head>
<body>
  <div class="col-xs-12">
    <h1>qPCR Crush Leaderboards</h1>
     <img src="/static/logo.jpg">
  </div>
  <div class="col-xs-12">
    <p id="description">High scorers are entered into a prize raffle where winners are drawn hourly!</p>
  </div>
  <div class="col-xs-6">
    <table class="table table-striped table-bordered">
      <thead>
        <th>Alias</th>
        <th>Score</th>
        <th>Date: Time</th>
      </thead>
      <tbody>
        {% for lbEntry in lbEntries %}
        <tr>
          <td>{{lbEntry.alias}}</td>
          <td>{{lbEntry.score}}</td>
          <td class="datetime">{{lbEntry.created}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="table table-striped table-bordered">
      <thead>
        <th>This Hour's Winners</th>
      </thead>
      <tbody>
        {% for winner in winners %}
        <tr>
          <td>{{winner.alias}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/static/bower_components/moment/moment.js"></script>
  <script>
    $(function() {
      $('.datetime').each(function() {
        var rawDatetime = $(this).text();
        var formDatetime = moment(rawDatetime + ' Z').format('M/D: h:mm A');
        $(this).text(formDatetime);
      });
    });
  </script>
</body>
</html>